footer{
    //background-color: $dark;
    color: $brown;
    padding: 80px 0;
    margin-top: -1px;
    height:20vh;
}

.links {
    display:flex;
    justify-content: space-between;
}


.sign {
    display: inline-block;
    width: 30px;
    height:30px;
    border-radius: 10px;
    background-image: url('../social.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    transition: 0.3s all;
    &:hover{
        background-color: $blue;
    }
}

.fb{
    background-position: -35px -1px;
}

.in{
    background-position: -68px -34px;
}

