.main{
    width: 100%;
    text-align: center;
    display: block;
}

.main-hero{
    height: 50vh;
    position: relative;
}

.slide{
    padding: 50px;
    
}

.prev-btn{
    position:absolute;
    top:50%;
    left:0;
    padding: 1.1em 1em;
    border:1px solid $brown;
    background:#ddd;
    border-radius: 50%;
    transition: 0.5s all;
    cursor:pointer;
    &:hover{
        border:1px solid $blue;
    }
}
.next-btn{
    position:absolute;
    top:50%;
    right:0;
    padding: 1.1em 1em;
    border:1px solid $brown;
    background:#ddd;
    border-radius: 50%;
    transition: 0.5s all;
    cursor:pointer;
    &:hover{
        border:1px solid $blue;
    }
}


.abilities{
    border: 2px solid $dark;
    display:inline-block;
    width:25%;
    margin: 0 20px;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
    color:$brown;
    cursor:pointer;
}
.abilities li{
    display:inline;
    padding: 10px 100px 10px 100px;
}

.abilities a{
    padding: 0 20px;
    text-decoration: none;
    color:$brown;

}

.javascript:hover{
    background: $dark;
    color:$blue;
}

.php:hover{
    background: $dark;
    color:$blue;
}
.htmlcss:hover{
    background: $dark;
    color:$blue;
}

.content{
    background: $dark;
    margin-top: -2px;
    width:100%;
    height:500px;
    
}
.content-js{
    display:flex;
    width:100%;
    height: 100%;
}
.content-php{
    display: none;
    width:100%;
    height: 100%;
}
.content-htmlcss{
    display: none;
    width:100%;
    height: 100%;
}

.logo-language{

    width:50%;
    height:100%;
}
.content-language{
    width:50%;
    height:100%;
}

.img-js{
    width:auto;
    height:75%;
    padding-top:10px;
}
.img-php{
    width:60%;
    height:auto;
    padding-top: 20px;
}
.img-html{
    width:auto;
    height:100%;
}