.loading{
	position: relative;
}
.loading:befor{
	content: '';
	width: 30px;
	height: 30px;
	border:2px solid rgba(#fff, 0.2);
	border-right-color:#fff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%, -50%) rotate(0deg);
	animation: loadingAnim 0.6s 0s infinite linear;
}

@keyframes loadingAnim {
	0%{}
	100%{
		transform:translate(-50%, -50%) rotate(360deg);
	}

}


.btn{
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
	background: transparent;
	box-shadow:inset 0 0 0 30px #333;
	display:inline-block;
	border:0;
	padding: 20px 45px;
	border-radius: 36px;
	min-width: 160px;
	transition: 0.5s all;
	cursor: pointer;

	&:hover{
		color: #000000;
		box-shadow:inset 0 0 0 3px #333;
	}
}

.btn.loading{
	color:rgba(#fff, 0.2);
	box-shadow: inset 0 0 0 30px #333;
	&:before{
		left:30px;
	}
}

.section-header {
	margin-bottom:80px;
}
.section-header-text {
	text-align: center;
	font-size:20px;
	text-transform: lowercase;
	display: block;
}
.section-header-title {
	margin-top:10px;
	text-align: center;
	font-size:40px;
	text-transform: uppercase;
	position: relative;
	padding-bottom:20px;
}
.section-header-title:after {
	content:'';
	position: absolute;
	left:50%;
	bottom:0;
	transform:translateX(-50%);
	width:125px;
	height:2px;
}

.container {
	max-width:1140px;
	margin:0 auto;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;

	.focusable:active,
	.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}