.header{
    height: 45vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: $dark;
    border: 2px solid $dark;
    margin: 0 ;
  }

  .header-nav {
    padding-top:20px;
    display: table;
    margin: 0 auto;
  }

  .header-nav .menu li {
    display:inline-block;
    padding: 10px;
  }
  

  .nav-ham span{
    display: block;
    width: 30px;
    margin: 5px 0;
    border: 2px solid black;
    
  } 

  .menu li a{
    color: $brown;
    text-decoration: none;
    padding:10px 5px;
    transition:0.5s all;
    position: relative;
    display: inline-block;
    margin: 0 20px;
  }

  .menu li a:hover{
    color:$blue;
  }
  .menu li a:after{
    content:'';
    height:2px;
    position: absolute;
    bottom:5px;
    left:50%;
    right:50%;
    background: $blue;
    transition:0.5s all;
  }

  .menu li a:hover:after{
    left:0;
    right:0;
  }

  .logo-link{
    font-family: 'Architects Daughter', cursive;
    text-decoration: none;
    color:$brown;
    text-align: center;
    transition: 0.5s all;
  }

  .logo-link:hover{
    color:$blue;
    text-decoration: none;
  }

  .logo h2{
    font-size: 86px;
  }


  .svg-logo{
    margin: 0 auto;
    width: 90%;
    animation: letterShadow 3s cubic-bezier(0,.23,1,.1);
    filter: drop-shadow(0 0 10px rgba(218,173,134,0.2));
  }

  

  path {
    stroke: rgb(152,218,207);
    stroke-width:3px;
    fill: rgba(152,218,207,0.4); 
    stroke-dasharray: 1200;
    opacity:10;
    animation: animate 3s cubic-bezier(0,.23,1,.1);
    
    
  }

  @keyframes animate {
    0% {
      opacity:0;
      fill:none;
      stroke-dashoffset: 1200; 
      
    }
    30%{
      opacity: 0.5;
      fill:none;
      stroke-dashoffset: 1200;      
    }
    80%{
      fill:rgba(152,218,207,0);}
    90%{
      fill: rgba(152,218,207,0.8);
      
    }
    100%{
      opacity:10;
      fill: rgba(152,218,207,0.4);
      stroke-dashoffset: 0;
      
    }
  }

  @keyframes letterShadow{
    0%{filter: drop-shadow(0 0 10px rgba(152,218,207,0));}
    90%{filter: drop-shadow(0 0 15px rgba(152,218,207,1));}
    100%{}
  }