.wrap-item p{
    text-align: center;
    padding: 20px;
    margin: 20px 0;
}

.portfolio-link{
    text-decoration: none;
    color: $dark;
    
    &:hover{
        text-decoration: none;
        color: $dark;

    }
}
.portfolio-head{
    text-align: center;
    padding-top: 20px;
}
.portfolio-mini{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 200px;
}

.wrap{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.single-portfolio-mini{
    width:300px;
    height:300px;
    margin: 20px 100px;
}

.wrap-item{
    position: relative;
    transition:0.5s all;
    border-radius: 50px;
    margin:50px 0;
}



