.contact-head{
    text-align: center;
}
.formularz{
    display: flex;
    justify-content: space-around;
}

.rightContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContent>p{
    font-size: 2rem;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  padding: 10px 20px;
  border: 1px solid #c4c4c4;
  font-family: $dark;
  border-radius: 3px;
  width: 100%;
  max-width: 560px;
  &:focus{
    border-color: #333;
    box-shadow: inset 0 0 0 1px #333;
    outline: none;
  }
}

.wpcf7-submit{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: $dark;
    color: $brown;
    transition: 0.5s all;
    font-weight: 700;
}

.wpcf7-submit:hover {
  padding: 10px 40px;
  color: $blue;
  box-sizing: border-box;
  box-shadow:  0px 0px 2px 3px $blue;

}

.wpcf7 p{
    color:$dark;
}