@import '_normalize.scss';
@import '_variables.scss';
@import '_global-class.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_front-page.scss';
@import '_page-about-me.scss';
@import '_page-portfolio.scss';
@import '_page-contact.scss';


body {
  background:#ddd;
  font-family: 'Montserrat', sans-serif;
}





.short-post{
  border:2px solid #000;
  margin-bottom: 50px;
  padding: 10px 10px 50px 10px;
}

.short-post-btn{
  padding: 10px 25px;
  background-color: #000;
  color: #FFF;
  border-radius: 5px;


}